@model HelpDeskVNext.Data.Entitidades.Prioridade

@{
    ViewData["Title"] = "Editar prioridade";
}

<h2>Editar prioridade</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Prioridade</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PrioridadeId" />
        <div class="form-group">
            <label asp-for="Designacao" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Designacao" class="form-control" />
                <span asp-validation-for="Designacao" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Gravar" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Regressar a lista</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
