@using System.Collections.Generic
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Authentication
@using Microsoft.Data.Entity
@model LoginViewModel
@inject SignInManager<HelpDeskVNext.Data.Models.ApplicationUser> SignInManager
@inject UserManager<HelpDeskVNext.Data.Models.ApplicationUser> Usermanager

@{
    ViewData["Title"] = "Log in";
}

<h2>@ViewData["Title"].</h2>
<div class="row">
    <div class="col-md-8">
        <section>
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                <h4>Utilize o seu email para entrar no sistema</h4>
                <hr />
                <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <input asp-for="RememberMe" />
                            <label asp-for="RememberMe"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default">Log in</button>
                    </div>
                </div>
                <p>
                    <a asp-action="Register">Registar como novo utilizador?</a>
                </p>
                <p>
                    <a asp-action="ForgotPassword">Esqueceu a password?</a>
                </p>
            </form>
        </section>
    </div>

    <environment names="Development">
        <div class="col-md-4">
            <div>
                <h3>Logins teste</h3>
                @foreach (var user in Usermanager.Users)
            {
                    <p>Email: @user.Email Telefone: @user.PhoneNumber</p>
                }
            </div>
        </div>
    </environment>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
