@model IndexViewModel
@{
    ViewData["Title"] = "Gerir a sua conta";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>
<div>
    <h4>Alterar a sua conta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword">Alterar</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword">Criar</a>
            }
            ]
        </dd>

        <dt>Telefone:</dt>
        <dd>
            @(Model.PhoneNumber ?? "None") [
                @if (Model.PhoneNumber != null)
                {
                    <a asp-controller="Manage" asp-action="AddPhoneNumber">Alterar</a>
                }
                else
                {
                    <a asp-controller="Manage" asp-action="AddPhoneNumber">Adicionar</a>
                }
                ]
        </dd>
    </dl>
</div>
