@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>HelpDesk</h1>
    <p>Gerir os seus tickets</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Tickets</h2>
        <ul>
            <li>Criar tickets</li>
            <li>Gerir tickets</li>
            <li>Assignar tickets a tecnicos</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Departamentos</h2>
        <ul>
            <li>Criar departamentos</li>
            <li>Gerir departamentos</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Utilizadores</h2>
        <ul>
            <li>Criar utilizadores</li>
            <li>Gerir utilizadores</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Acessos</h2>
        <ul>
            <li>Criar acessos</li>
            <li>Gerir acessos</li>
        </ul>
    </div>
</div>
