@{
    ViewBag.Title = "Tickets";
    ViewBag.CriarTicketTitle = "Criar ticket";
}

<style>
    body {
        background-color: #026aa7;
    }
</style>

<h4>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
        @ViewBag.CriarTicketTitle
    </button>
</h4>
<div class="container-fluid" style="margin: 0 auto 0 auto;" ng-app="kanbanBoardApp">
       
    <div class="row" ng-controller="boardCtrl">

        <div ng-include="'/js/busymodal.html'" ng-show="isLoading"></div>

        <div class="col-lg-3 panel panel-primary colStyle" id="{{col.Id}}" kanban-board-drop="over"
             ng-repeat="col in columns" ng-cloak>
            <div class="panel-heading" style="margin-bottom: 10px;">
                <h3 class="panel-title">{{col.Nome}}</h3>
            </div>
            <div class="thumbnail" draggable="true" kanban-board-dragg="ticket"
                 ng-repeat="ticket in col.Tickets" style="margin-bottom: 10px;">
                <div class="caption">
                    <h5><strong>{{ticket.Titulo}}</strong></h5>
                    <p>{{ticket.Descricao}}</p>
                    <p>
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
                            Editar
                        </button>
                    </p>
                </div>
            </div>
        </div>

        @await Html.PartialAsync("_Create")
    </div>
</div>



@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/kanbanboarddragdrop.js"></script>
    <script src="~/js/boardservice.js"></script>
    <script src="~/js/boardctrl.js"></script>
}