@model HelpDeskVNext.Data.Entitidades.Estado

@{
    ViewData["Title"] = "Apagar estado";
}

<h2>Apagar</h2>

<h3>Tem a certeza que pretende apagar?</h3>
<div>
    <h4>Estado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Designacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Designacao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Apagar" class="btn btn-default" /> |
            <a asp-action="Index">Regressar a lista</a>
        </div>
    </form>
</div>
