@model HelpDeskVNext.Data.Entitidades.Estado

@{
    ViewData["Title"] = "Detalhe";
}

<h2>Detalhe</h2>

<div>
    <h4>Estado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Designacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Designacao)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.EstadoId">Editar</a> |
    <a asp-action="Index">Regressar a lista</a>
</p>
